body{

    background-color:#ffe4c4;

}

.aga-um{

    color: #0000ff;

}

.aga-dois{

    color: #f0f8ff;
    background-color: #0000ff;

}

.preto{

    color: #000000;

}

.info{

    color:#ffe4c4;
    background-color: #000000;

}
